<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WaypointCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WaypointCreator.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>world</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>trinity</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>trinity</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Lines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Splines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PointColour" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LineColour" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="BackColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TitleColour" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="UsingDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SAI" serializeAs="String">
                <value>True</value>
            </setting>
        </WaypointCreator.Properties.Settings>
    
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
<connectionStrings><add name="CoreDBEntities" connectionString="metadata=res://*/EntityFramework.CoreDB.csdl|res://*/EntityFramework.CoreDB.ssdl|res://*/EntityFramework.CoreDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=tbc_core;allowbatch=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
